$size: 17;


$body-text-size: $size * 1px;
$header-text-size: $size + 5 + 0px;

$main-blue: #0091a8;
$font-color: #000000;
$gray: #9ca4af; //placeholder, input borders
$orange: #ff5722; //buttons
$light-blue: #d6e8ea;


