.navbar {
  top: -20px;
  z-index: 98889878263; }

.navbar-inverse {
  background: #1e7c96;
  border: 0; }
  .navbar-inverse .navbar-header a {
    color: #ffffff; }
  .navbar-inverse .navbar-toggle {
    border-color: #fff; }
  .navbar-inverse .navbar-nav > li > a {
    color: #ffffff; }

.nav.nav-pills > li > a {
  border: 1px solid #166177;
  margin: 5px; }
  @media screen and (min-width: 992px) {
    .nav.nav-pills > li > a {
      border: 0; } }

.navbar-inverse .navbar-collapse {
  border-color: #166177; }

@media screen and (min-width: 992px) {
  .navbar {
    position: absolute;
    right: 0;
    top: 0;
    width: 17rem;
    height: 100vh;
    border-radius: 0;
    border: 0;
    margin-bottom: 0; }
    .navbar .navbar-header a {
      color: #ffffff; }
    .navbar .container {
      top: 50%;
      position: relative;
      transform: translateY(-66%);
      align-items: center;
      width: inherit; }
    .navbar.navbar-inverse {
      background: #1e7c96; }
  .container,
  .nav.navbar-nav {
    display: flex;
    flex-direction: column;
    text-align: center; }
    .container li a,
    .nav.navbar-nav li a {
      font-size: 1.6rem;
      color: #ffffff; }
      .container li a:hover,
      .nav.navbar-nav li a:hover {
        cursor: pointer;
        color: #f2f2f2; } }
