.navbar {
    top: -20px;
    z-index: 98889878263;
}

.navbar-inverse {
    background: #1e7c96;
    border: 0;

    .navbar-header a {
        color: #ffffff;
    }

    .navbar-toggle {
        border-color: #fff;
    }

    .navbar-nav>li>a {
        color: #ffffff;
    }
}

.nav.nav-pills > li > a {
    border: 1px solid #166177;
    margin: 5px;

    @media screen and (min-width: 992px){
      border: 0;

    }
}

.navbar-inverse .navbar-collapse {
    border-color: #166177;
}

@media screen and (min-width: 992px){
    .navbar {
      position: absolute;
      right: 0;
      top: 0;
      width: 17rem;
      height: 100vh;
      border-radius: 0;
      border: 0;
      margin-bottom: 0;

      .navbar-header {
          a {
             color: #ffffff;
          }
      }

      .container {
          top: 50%;
          position: relative;
          transform: translateY(-66%);
          align-items: center;
          width: inherit;
      }

      &.navbar-inverse {
          background: #1e7c96;
      }
    }

    .container,
    .nav.navbar-nav {
        display: flex;
        flex-direction: column;
        text-align: center;

        li {
            a {
                font-size: 1.6rem;
                color: #ffffff;

                &:hover {
                    cursor: pointer;
                    color: darken(#ffffff, 5%);
                }
            }
        }
    }
}
