body {
  font-family: 'Quicksand', sans-serif;
  // padding-top: 54px;
  color: #868e96;
}

@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-right: 17rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #343a40;
}

h1 {
  font-size: 5rem;
  line-height: 5.5rem;
  letter-spacing: -2px;
}

h2 {
  font-size: 3.5rem;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Saira Extra Condensed', serif;
  font-size: 1.35rem;
}

.list-social-icons a {
  color: #495057;
}

.list-social-icons a:hover {
  color: #BD5D38;
}

.list-social-icons a .fa-lg {
  font-size: 1.75rem;
}

.list-icons {
  font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
  color: #BD5D38;
}

section.resume-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
  display: flex;
  justify-content: right;
  align-items: center;

  & > div.inner-wrapper {
    margin: 0;

    @media (min-width: 992px) {
      margin-left: auto;
    }
  }
}

section.resume-section .resume-item .resume-date {
  min-width: none;
}

@media (min-width: 768px) {
  section.resume-section {
    min-height: 100vh;
  }
  section.resume-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.resume-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

.bg-primary {
  background-color: #357d94 !important;
}

.text-primary {
  color: #BD5D38 !important;
}

a {
  color: #357d94;
}

a:hover, a:focus, a:active {
  color: #357d94;
}
